{{ define "main" }}

{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "1920x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
                {{end}}
                <div class="hide">
                    {{ .Date.Format "2006"}}
                    <br>
                    <strong style="color:rgb(255, 255, 255); font-size:16px;">{{ .Title }}</strong>
                    <br>
                    <div>
                        {{ range $index, $tag := .Params.tags }}
                            {{ if $index}}, {{ end }}
                            <span style="display: inline-block; word-wrap: break-word; margin-left: 10px;">{{ $tag }}</span>
                        {{end}}
                    </div>
                </div>
            </a>
        {{ end }}
    {{ end }}
</div>



{{ end }}