{{ define "main" }}

{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "1920x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
                {{end}}
                <div class="hide">
                    {{ .Date.Format "2006"}}
                    <br>
                    <strong style="color:rgb(255, 255, 255); font-size:16px;">{{ .Title }}</strong>
                    <br>
                    <div>
                        {{ range $index, $tag := .Params.tags }}
                            {{ if $index}} {{ end }}
                            <span style="display: inline-block; word-wrap: break-word; margin-left: 10px;">{{ $tag }}</span>
                        {{end}}
                    </div>
                </div>
            </a>
        {{ end }}
    {{ end }}
</div>

<h1>tags/</h1>
{{ $tagList := slice }}

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
  {{ $cnt := $taxonomy.Count }}
  {{ $cleanedName := replace $name "-" " " }}
  {{ if ge $cnt 2 }}
    {{ $tagList = $tagList | append (dict "name" $cleanedName "originalName" $name "count" $cnt) }}
  {{ end }}
{{ end }}

{{ $sortedTags := sort $tagList "count" "desc" }}

{{ range $tag := $sortedTags }}
  {{ with $.Site.GetPage (printf "/tags/%s" $tag.originalName) }}
    <a href="{{ .RelPermalink }}" title="All pages with tag <i>{{ $tag.name }}</i>">{{ $tag.name }}</a>/

  {{ end }}
{{ end }}

{{ $categoriesList := slice }}

{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  {{ $cnt := $taxonomy.Count }}
  {{ $cleanedName := replace $name "-" " " }}
  {{ if ge $cnt 2 }}
    {{ $categoriesList = $categoriesList | append (dict "name" $cleanedName "originalName" $name "count" $cnt) }}
  {{ end }}
{{ end }}

{{ $sortedCategories := sort $categoriesList "count" "desc" }}

{{ range $categories := $sortedCategories }}
  {{ with $.Site.GetPage (printf "/categories/%s" $categories.originalName) }}
    <a href="{{ .RelPermalink }}" title="All pages with categories <i>{{ $categories.name }}</i>">{{ $categories.name }}</a>/
  {{ end }}
{{ end }}

{{ end }}