{{ define "main" }}
<h1>I am a taxonomy page</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
    
        <div class="post">
            <p>
                {{ with .PublishDate }}
                    <div class="date">{{ .Format "Jan. 2, 2006" }}</div>
                {{ end }}
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                <div style="color:grey; font-size:15px;">{{ if .Params.tags }}Roles: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                <div style="color:grey; font-size:15px;">{{ if .Params.categories }}Area: {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}