<div class="footer">
    <div class="footer-copyright">
      <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>
         Frederik la Cour | <a href="https://www.instagram.com/la__cour/" target="_blank">Instagram</a>/
         <a href="https://www.linkedin.com/in/l4cour/" target="_blank">Linkedin</a>/
         <a href="https://github.com/L4COUR/" target="_blank">Github</a>/
        </p>
    </div>

    <div class="footer-Contact">
Contact
<br>
      <a href = "mailto: frederiklacour@protonmail.com">frederiklacour@protonmail.com</a>
      <p>Tel: +45 21 66 78 37</p>
    
  </div>
</div>
