{{ define "main" }}

<h1>tags/</h1>
{{ $tagList := slice }}

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
  {{ $cnt := $taxonomy.Count }}
  {{ $cleanedName := replace $name "-" " " }}
  {{ if ge $cnt 2 }}
    {{ $tagList = $tagList | append (dict "name" $cleanedName "originalName" $name "count" $cnt) }}
  {{ end }}
{{ end }}

{{ $sortedTags := sort $tagList "count" "desc" }}

{{ range $tag := $sortedTags }}
  {{ with $.Site.GetPage (printf "/tags/%s" $tag.originalName) }}
    <a href="{{ .RelPermalink }}" title="All pages with tag <i>{{ $tag.name }}</i>">{{ $tag.name }}</a>/

  {{ end }}
{{ end }}

{{ $categoriesList := slice }}

{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  {{ $cnt := $taxonomy.Count }}
  {{ $cleanedName := replace $name "-" " " }}
  {{ if ge $cnt 2 }}
    {{ $categoriesList = $categoriesList | append (dict "name" $cleanedName "originalName" $name "count" $cnt) }}
  {{ end }}
{{ end }}

{{ $sortedCategories := sort $categoriesList "count" "desc" }}

{{ range $categories := $sortedCategories }}
  {{ with $.Site.GetPage (printf "/categories/%s" $categories.originalName) }}
    <a href="{{ .RelPermalink }}" title="All pages with categories <i>{{ $categories.name }}</i>">{{ $categories.name }}</a>/
  {{ end }}
{{ end }}

<h1>latest projects</h1>

<div class="image-grid">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "1000x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="" class="img-responsive">
        {{end}}
            <div class="hide">
                {{ .Date.Format "2006"}}
                <br>
                <strong style="color:rgb(244, 244, 244); font-size:16px;">{{.Title}}</strong>
                <div>
                  {{ range $index, $tag := .Params.tags }}
                      {{if $index}}, {{end}}
                      <span style="display: inline-block; word-wrap: break-word; margin-left: 10px;">{{$tag}}</span>
                  {{end}}
              </div>
            </div>
        </a>
    {{ end }}
{{ end }}
</div>

<h1>latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <div>
                <strong><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></strong>
                {{ if .Params.tags }}{{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>/ {{end}}{{end}}
                {{ if .Params.categories }}{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>/ {{end}}{{end}}</div>
                {{ $image := .Page.Resources.GetMatch .Params.image }}
                {{ with $image }}
                    {{ $thumb := .Resize "1920x" }}
                    <br>
                    <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}">
                    {{end}}
                    <br>
                {{ .Summary }}
                
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}